## Config. Pandas

In [38]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import datetime
from datetime import datetime, date

pd.set_option('display.notebook_repr_html',False)
pd.set_option('display.max_columns',10)
pd.set_option('display.max_rows',10)
pd.set_option('display.width',100)

## The Pandas Series

In [3]:
# create a four item series
s=pd.Series([1,2,3,4])

In [4]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
s=pd.Series([1,2,3,4], index=['a','b','c','d'])

In [6]:
dates=pd.date_range('2016-04-01','2016-04-06')
dates

DatetimeIndex(['2016-04-01', '2016-04-02', '2016-04-03',
               '2016-04-04', '2016-04-05', '2016-04-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
temps1=pd.Series([80,82,85,90,83,87], index=dates)
temps1

2016-04-01    80
2016-04-02    82
2016-04-03    85
2016-04-04    90
2016-04-05    83
2016-04-06    87
Freq: D, dtype: int64

In [8]:
temps1[4]

83

In [9]:
temps2=pd.Series([70,75,69,83,79,77], index=dates)
temps2

2016-04-01    70
2016-04-02    75
2016-04-03    69
2016-04-04    83
2016-04-05    79
2016-04-06    77
Freq: D, dtype: int64

In [10]:
temp_df=pd.DataFrame({'Missuola':temps1,'Philadelphia':temps2})
temp_df

            Missuola  Philadelphia
2016-04-01        80            70
2016-04-02        82            75
2016-04-03        85            69
2016-04-04        90            83
2016-04-05        83            79
2016-04-06        87            77

In [11]:
temp_df['Missuola']

2016-04-01    80
2016-04-02    82
2016-04-03    85
2016-04-04    90
2016-04-05    83
2016-04-06    87
Freq: D, Name: Missuola, dtype: int64

In [12]:
temp_dif=temps1-temps2
temp_df['Difference']=temp_dif
temp_df

            Missuola  Philadelphia  Difference
2016-04-01        80            70          10
2016-04-02        82            75           7
2016-04-03        85            69          16
2016-04-04        90            83           7
2016-04-05        83            79           4
2016-04-06        87            77          10

In [20]:
#temp_df.Difference[1:4]
#temp_df.Difference[1:6:2]
temp_df.Difference==10

2016-04-01     True
2016-04-02    False
2016-04-03    False
2016-04-04    False
2016-04-05    False
2016-04-06     True
Freq: D, Name: Difference, dtype: bool

In [24]:
df=pd.read_csv('data/goog.csv')
df

          Date        Open        High         Low  \
0   12/19/2016  790.219971  797.659973  786.270020
1   12/20/2016  796.760010  798.650024  793.270020
2   12/21/2016  795.840027  796.676025  787.099976
3   12/22/2016  792.359985  793.320007  788.580017
4   12/23/2016  790.900024  792.739990  787.280029
..         ...         ...         ...         ...
56   3/13/2017  844.000000  848.684998  843.250000
57   3/14/2017  843.640015  847.239990  840.799988
58   3/15/2017  847.590027  848.630005  840.770020
59   3/16/2017  849.030029  850.849976  846.130005
60   3/17/2017  851.609985  853.400024  847.109985

         Close   Volume
0   794.200012  1225900
1   796.419983   925100
2   794.559998  1208700
3   791.260010   969100
4   789.909973   623400
..         ...      ...
56  845.539978  1149500
57  845.619995   779900
58  847.200012  1379600
59  848.780029   970400
60  852.119995  1712300

[61 rows x 6 columns]

In [45]:
#pd._libs.tslibs.timestamps.Timestamp

AttributeError: module 'pandas' has no attribute '_libs'

In [ ]:
#df.Date[0]

In [49]:
df=pd.read_csv('data/goog.csv', index_col='Date', parse_dates=['Date'])
#df

AttributeError: 'DataFrame' object has no attribute 'date'

In [59]:
df.iloc[[1:3:]].index

SyntaxError: invalid syntax (<ipython-input-59-46aed977b33d>, line 1)