In [1]:
# IMPORTING PACKAGES
#------------------
import pandas as pd

In [2]:
#Loading web files into our dataframe structures from Pandas 
#------------------
sales = pd.read_excel('https://github.com/datagy/mediumdata/raw/master/pythonexcel.xlsx', sheet_name = 'sales')
states = pd.read_excel('https://github.com/datagy/mediumdata/raw/master/pythonexcel.xlsx', sheet_name = 'states')

In [10]:
#Taking a look at first values from our data imported
#----------------------------------------------------
print(sales.head())

    Product  Sales       Date           City
0   Bananas    121 2019-06-13        Atlanta
1   Bananas    236 2019-10-20        Atlanta
2    Apples    981 2019-03-12        Atlanta
3     Bread    996 2019-07-28  New York City
4  Brocolli    790 2019-10-22  New York City

In [11]:
#Creating an Excel "IF" but using python dataframe syntax
#--------------------------------------------------------
sales['MoreThan500'] = ['Yes' if x > 500 else 'No' for x in sales['Sales']]

In [12]:
#Having a look at first values from our data imported with newly column
#----------------------------------------------------------------------
print(sales.head())

    Product  Sales       Date           City MoreThan500
0   Bananas    121 2019-06-13        Atlanta          No
1   Bananas    236 2019-10-20        Atlanta          No
2    Apples    981 2019-03-12        Atlanta         Yes
3     Bread    996 2019-07-28  New York City         Yes
4  Brocolli    790 2019-10-22  New York City         Yes

In [13]:
# VLOOKUP or "Left Join" 
#-----------------------
sales = pd.merge(sales, states, how='left', on='City')
print(sales.head())

    Product  Sales       Date           City MoreThan500     State
0   Bananas    121 2019-06-13        Atlanta          No   Georgia
1   Bananas    236 2019-10-20        Atlanta          No   Georgia
2    Apples    981 2019-03-12        Atlanta         Yes   Georgia
3     Bread    996 2019-07-28  New York City         Yes  New York
4  Brocolli    790 2019-10-22  New York City         Yes  New York

In [15]:
# Creating simple pivot table with pandas 
#----------------------------------------
sales.pivot_table(index = 'City', values = 'Sales', aggfunc = 'sum')

               Sales
City
Atlanta         7642
New York City   8249
Portland        4231
Toronto         9571