In [1]:
from IPython.display import Image
%matplotlib inline
import pandas as pd
from io import StringIO

In [2]:
csv_data = \
'''A,B,C,D 
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,''' 
df=pd.read_csv(StringIO(csv_data))

In [3]:
df

      A     B     C   D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [4]:
df.isna().sum()

A     0
B     0
C     1
D     1
dtype: int64

In [5]:
df.dropna(axis='columns') # or 'rows'
                          # also axis=0 will be rows =1 will be columns

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

      A     B     C   D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [9]:
df = pd.DataFrame([['green', 'M', 10.1, 'class1'], ['red', 'L', 13.5, 'class2'], ['blue', 'XL', 15.3, 'class1']]) 
df

       0   1     2       3
0  green   M  10.1  class1
1    red   L  13.5  class2
2   blue  XL  15.3  class1

In [13]:
from sklearn.preprocessing import LabelEncoder
class_le = LabelEncoder()
y = class_le.fit_transform(df[3].values)

In [14]:
y

array([0, 1, 0])

In [15]:
class_le.inverse_transform(y)

array(['class1', 'class2', 'class1'], dtype=object)