## Config. Pandas

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import datetime
from datetime import datetime, date

pd.set_option('display.notebook_repr_html',False)
pd.set_option('display.max_columns',8)
pd.set_option('display.max_rows',10)
pd.set_option('display.width',60)

## The Pandas Series

In [5]:
# create a four item series
s=pd.Series([1,2,3,4])

In [6]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
s=pd.Series([1,2,3,4], index=['a','b','c','d'])

In [8]:
dates=pd.date_range('2016-04-01','2016-04-06')
dates

DatetimeIndex(['2016-04-01', '2016-04-02', '2016-04-03',
               '2016-04-04', '2016-04-05', '2016-04-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
temps1=pd.Series([80,82,85,90,83,87], index=dates)
temps1

2016-04-01    80
2016-04-02    82
2016-04-03    85
2016-04-04    90
2016-04-05    83
2016-04-06    87
Freq: D, dtype: int64

In [12]:
temps1[4]

83

In [13]:
temps2=pd.Series([70,75,69,83,79,77], index=dates)
temps2

2016-04-01    70
2016-04-02    75
2016-04-03    69
2016-04-04    83
2016-04-05    79
2016-04-06    77
Freq: D, dtype: int64

In [16]:
temp_df=pd.DataFrame({'Missuola':temps1,'Philadelphia':temps2})
temp_df

            Missuola  Philadelphia
2016-04-01        80            70
2016-04-02        82            75
2016-04-03        85            69
2016-04-04        90            83
2016-04-05        83            79
2016-04-06        87            77

In [26]:
temp_df['Missuola']

2016-04-01    80
2016-04-02    82
2016-04-03    85
2016-04-04    90
2016-04-05    83
2016-04-06    87
Freq: D, Name: Missuola, dtype: int64

In [31]:
temp_dif=temps1-temps2
temp_df['Difference']=temp_dif
temp_df

            Missuola  Philadelphia  Difference
2016-04-01        80            70          10
2016-04-02        82            75           7
2016-04-03        85            69          16
2016-04-04        90            83           7
2016-04-05        83            79           4
2016-04-06        87            77          10

In [39]:
temp_df.Difference[1:4]

2016-04-02     7
2016-04-03    16
2016-04-04     7
Freq: D, Name: Difference, dtype: int64