# CIS3368  
## Handout # 1 - R Basic Computations Examples

#### By Fabio Montes

## Basic Calculations

In [1]:
#Addition
2-3

[1] -1

In [2]:
#Division
2/3

[1] 0.6666667

In [15]:
#Exponentiation
2^3

[1] 8

In [14]:
#Square root
sqrt(2)

[1] 1.414214

In [13]:
#Logarithms
log(2)

[1] 0.6931472

In [12]:
#Comparison
#Equal
3==8

[1] FALSE

In [11]:
#Comparison
#Not Equal
3!=8

[1] TRUE

In [10]:
#Comparison
#Greater/Less or Greater or equal/Less or equal
3<=8

[1] TRUE

## Logical Operators

In [9]:
#Logical Disjunction (or)
FALSE|FALSE

[1] FALSE

In [8]:
#Logical Conjuntion (and)
FALSE&TRUE

[1] FALSE

In [7]:
#Negation
!FALSE

[1] TRUE

In [6]:
#Combination of statements
2<3|1==5

[1] TRUE

### Assigning Values to Variables

In [18]:
aVariable<-2+2   # Either "<-","->" or "=" can be used to assign values but 'arrows'   
                 # are more commonly used to avoid confusion with the comparison "=="
aVariable*3

[1] 12

In [16]:
#Listing the currently defined variables using command "ls"" (as list)
ls() # if only "aVariable" is shown is because that is the only variable created up to this point, otherwise if more variables 
     # show up,is because unless you removed them manually, R will display all variables defined in our current notebook.

[1] "aVariable"

In [ ]:
#Deleting a variable
rm(aVariable)

## Vectors

In [20]:
# Basic type object in R is a vector, which is an ordered list of values of the same type. You can create a vector using the c() funtion ('c' as concatenate)
aVector<-c(2,5,10,2,1)
aVector

[1]  2  5 10  2  1

In [21]:
#Creating a second vector
bVector<-c(2,2,3,3)
bVector

[1] 2 2 3 3

In [22]:
#There are also some functionsthat will create vectors with regular patterns, like repeated elements.
#Replicate funtion combinated with variable assigning
cVector<-rep(2,5)
cVector

[1] 2 2 2 2 2

In [23]:
#Consecutive numbers
dVector<-1:5
dVector

[1] 1 2 3 4 5

In [24]:
#Sequence from 1 to 10 with a step of 2
eVector<-seq(1,10,2)
eVector

[1] 1 3 5 7 9

In [25]:
#Many functions and operators like + or - will work on all elements fo the vector.
#Adding vectors
fVector=aVector+cVector
fVector

[1]  4  7 12  4  3

In [50]:
#Comparing Vectors, this will work like comparing invidual variables but for each position on both vectors, if vector dont have same length an error will be displayed.
cVector==fVector

[1] FALSE FALSE FALSE FALSE FALSE

In [27]:
#Find length of vector
length(fVector)

[1] 5

In [28]:
#Find minimum value in vector
min(eVector)

[1] 1

In [29]:
#Find average value in vector
mean(eVector)

[1] 5

In [52]:
#You can access parts of a vector by using [. Very similar to walking through an array on other languages.
aVector     # Diplaying original vector
aVector[2]  #Getting the 2nd element from the vector

[1]  2  5 10  2  1

[1] 5

In [53]:
#You can also extract multiple values from a vector. For instance to get the 2nd through 4th values use
aVector[c(2,3,4)] 
aVector[2:4] # Another way of getting the same results.

[1]  5 10  2

[1]  5 10  2

In [33]:
#Vector can also be strings or logical values
gVector<-c("a","b","cd","efg","h")
gVector

[1] "a"   "b"   "cd"  "efg" "h"

# DataFrames

In [ ]:
#In statistical applications, data is often stored as a dataframe, 
#which is like a spreadsheet, with rows as observations and columns as 
#variables To manually create a datafram, use the data.frame() function.

In [59]:
#data.frame() function implemented with parameters and also assigning it to a variable "myData"
myData<-data.frame(Column1=c(22,18,30), 
           Column2=c('Tom','Sarah','Tim'), 
           Column3=c(TRUE,FALSE,FALSE))
myData # Showing data

  Column1 Column2 Column3
1      22     Tom    TRUE
2      18   Sarah   FALSE
3      30     Tim   FALSE

In [60]:
# Randomly selecting a sample using function sample(), Following code 
# selects 5 numbers between 1 and 10 at random. (without duplication)

sample(1:10,5) # 1st parameter is vector of one or more elements from which to choose, 2nd parameter is the lenght or positions 
               # and 3rd parameter can also be set as True or False to allow repetition on the values, by default is False.

[1] 10  3  5  7  6

In [36]:
bar<-data.frame(var1=LETTERS[1:10], var2=1:10) # Creating a dataframe from samples of the same size.
bar

   var1 var2
1  A     1
2  B     2
3  C     3
4  D     4
5  E     5
6  F     6
7  G     7
8  H     8
9  I     9
10 J    10

In [37]:
aSize<-5
mySample<-sample(1:nrow(bar),size=aSize) # using the lenght of rows on "bar" variable (nrow) and the size variable (aSize) creating new sample
mySample                                 # Printing the sample

[1] 1 4 2 5 7

In [38]:
# Extracting rows
barsample <- bar[mySample,]
# Printing sample
print (barsample)

  var1 var2
1    A    1
4    D    4
2    B    2
5    E    5
7    G    7

In [39]:
# Creating new dataframe called "barsample"" with random sample of rows from bar in a single line of code
bar[sample(1:nrow(bar),aSize),]

  var1 var2
9 I    9
8 H    8
3 C    3
5 E    5
4 D    4

## Using Tables

In [ ]:
#Using a a categorical Vector to create a table of values
xTable <- c("YES","NO","NO","YES","MAYBE","YES","MAYBE","MAYBE","YES","MAYBE","NO","YES","MAYBE","YES","MAYBE","YES","YES","YES","MAYBE","MAYBE","MAYBE","NO","MAYBE","NO","NO","NO","MAYBE","NO","NO","MAYBE")
table(xTable)
xTable

## Numeric Measures of center and spread

In [40]:
myArray<-c(12,.4,5,2,50,8,3,1,4,0.25)
mean(myArray) # Finding the average

[1] 8.565

In [41]:
# Finding the variance
var(myArray)

[1] 225.5145

In [42]:
# Finding standard deviation
sd(myArray)

[1] 15.01714

In [43]:
# the median
median(myArray)

[1] 3.5

In [45]:
# Tukey's five number summary, useful for boxplots
# five numbers: min, lower hinge, median, upper hinge, max 

fivenum (myArray)

[1]  0.25  1.00  3.50  8.00 50.00

In [46]:
# summary statitics
summary(myArray)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  0.250   1.250   3.500   8.565   7.250  50.000

## How about the mode?

In [47]:
# In R we can write our own functions, and a first example of a function is shown below in order to compute the mode of a vector of observations x

# Function to find the mode, i.e. most frequent value 
getMode <- function(x) {
  ux <-unique(x)
  ux[which.max(tabulate(match(x,ux)))]
}

# As an example, we can use the function defined above to find the most frequent value in the vector aVector

# Most frequent value in aVector
getMode(aVector)

[1] 2