# CIS3368  
## Handout # 4 - Getting Started with R, Part III

#### By Fabio Montes

## Concepts:

* #### Host: a host (also known as "network host") is a computer or other device that communicates with other hosts on a network. Hosts on a network include clients and servers -- that send or receive data, services or applications.

* #### Data vulnerability: data vulnerability & data breach are very interconnected concepts; "vulnerability" literal concept is the quality or state of being exposed to the possibility of being attacked or harmed, either physically or emotionally; data breach as “an incident in which sensitive, protected, or confidential data has potentially been viewed, stolen, or used by an individual unauthorized to do so. Data breaches may involve payment card information (PCI), personal health information (PHI), personally identifiable information (PII), trade secrets, or intellectual property.”

* #### Dataframe: data frame is a table or a two-dimensional array-like structure in which each column contains values of one variable and each row contains one set of values from each column. Following are the characteristics of a data frame: the column names should be non-empty,the row names should be unique,the data stored in a data frame can be of numeric, factor or character type & each column should contain same number of data items.

* #### List: lists are the R objects which contain elements of different types like − numbers, strings, vectors and another list inside it. A list can also contain a matrix or a function as its elements.

* #### Array: Arrays are the R data objects which can store data in more than two dimensions. For example − If we create an array of dimension (2, 3, 4) then it creates 4 rectangular matrices each with 2 rows and 3 columns. Arrays can store only data type.

* #### Matrix: Matrices are the R objects in which the elements are arranged in a two-dimensional rectangular layout. They contain elements of the same atomic types. Though we can create a matrix containing only characters or only logical values, they are not of much use. We use matrices containing numeric elements to be used in mathematical calculations.

* #### Categorical Data: Categorical data is the statistical data type consisting of categorical variables or of data that has been converted into that form

* #### OS: The software that supports a computer's basic functions, such as scheduling tasks, executing applications, and controlling peripherals.

* #### Nodes: Nodes must be a data.frame, with at least one column id. You can add properties simply by adding variables on data.frame

* #### Zones: In general, a zone is an area of administration. The meaning is similar to that of domain. Specific networking environments use the term to mean somewhat different things.

* #### IP: An Internet Protocol address (IP address) is a numerical label assigned to each device connected to a computer network that uses the Internet Protocol for communication.

In [1]:
# create a new data frame of hosts & high vuln counts 
assets.df = data.frame(name=c("danube","gander","ganges","mekong","orinoco"),os=c("W2K8","RHEL5","W2K8","RHEL5","RHEL5"),highvulns=c(1,0,2,0,0))
#Let us now take a look at the data frame assets.df
head(assets.df) # Since I'm using Jupyter Notebook "View" isnt implemented yet, thats why I used "head()", head() will show first values from data, default value is 5.

  name    os    highvulns
1 danube  W2K8  1
2 gander  RHEL5 0
3 ganges  W2K8  2
4 mekong  RHEL5 0
5 orinoco RHEL5 0

In [4]:
# take a look at the data frame structure & contents.
str(assets.df)   # "str()" will show structure from parameter in parenthesis
tail(assets.df)  # "head()"" will show last values from data, default value is 5.

'data.frame':	5 obs. of  3 variables:
 $ name     : Factor w/ 5 levels "danube","gander",..: 1 2 3 4 5
 $ os       : Factor w/ 2 levels "RHEL5","W2K8": 2 1 2 1 1
 $ highvulns: num  1 0 2 0 0

  name    os    highvulns
1 danube  W2K8  1
2 gander  RHEL5 0
3 ganges  W2K8  2
4 mekong  RHEL5 0
5 orinoco RHEL5 0

In [5]:
# by default R creates "factors" for categorical data so we use as.character() to expand the factors out.
head(assets.df$os) # This line is displaying our first 5 values for the column "os" column and below showing the possible outputs from the whole column.

[1] W2K8  RHEL5 W2K8  RHEL5 RHEL5
Levels: RHEL5 W2K8

In [8]:
# add a new column 
assets.df$ip <- c("192.168.1.5","10.2.7.5","192.168.1.7","10.2.7.6", "10.2.7.7")  # This line is adding a 4th column "ip" to the dataframe.
assets.df$ip #  # Showing values for new column.

[1] "192.168.1.5" "10.2.7.5"    "192.168.1.7" "10.2.7.6"    "10.2.7.7"

In [9]:
# extract only nodes with more than one high vulnerability.
head(assets.df[assets.df$highvulns>1,]) # # This line is showing first 5 values for the column "highvulns" WHERE (conditional) values are higher that value "1".

  name   os   highvulns ip
3 ganges W2K8 2         192.168.1.7

In [11]:
# create a 'zones' column based on prefix IP value 
assets.df$zones <- ifelse(grepl("^192",assets.df$ip),"Zone1","Zone2") # grepl returns TRUE if a string contains the pattern, otherwise FALSE; if the parameter is a string vector, 
                                                                      #returns a logical vector (match or not for each element of the vector).
                                                                      #ifelse is the regular conditional funtion "IF" in R language
                                                                      #Finally line is creating a new column called zone"" based on the conditional applied to an existent column.
assets.df$zones

[1] "Zone1" "Zone2" "Zone1" "Zone2" "Zone2"

In [12]:
head(assets.df)

  name    os    highvulns ip          zones
1 danube  W2K8  1         192.168.1.5 Zone1
2 gander  RHEL5 0         10.2.7.5    Zone2
3 ganges  W2K8  2         192.168.1.7 Zone1
4 mekong  RHEL5 0         10.2.7.6    Zone2
5 orinoco RHEL5 0         10.2.7.7    Zone2